<p-toast></p-toast>

@if (loading) {
  <div class="flex justify-center items-center min-h-[60vh]">
    <p-progressSpinner styleClass="w-16 h-16" strokeWidth="4" animationDuration=".8s"></p-progressSpinner>
  </div>
} @else {
  <div class="p-6 space-y-6 max-w-5xl mx-auto bg-white rounded-xl shadow-sm">
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

          <!-- Nombre -->
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1 text-gray-700">Nombre</label>
            <input pInputText formControlName="nombre" placeholder="Ej. Proyecto X" class="w-full"/>
          </div>

          <!-- Cliente -->
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1 text-gray-700">Cliente</label>
            <p-select
              formControlName="cliente"
              [options]="clientes"
              optionLabel="nombre"
              placeholder="Selecciona un cliente"
              appendTo="body"
              [showClear]="true"
              class="w-full"
            ></p-select>
          </div>

          <!-- Estado -->
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1 text-gray-700">Estado</label>
            <p-select
              formControlName="obra_estado"
              [options]="estadosObra"
              optionLabel="nombre"
              placeholder="Selecciona un estado"
              appendTo="body"
              class="w-full"
            ></p-select>
          </div>

          <!-- Dirección -->
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1 text-gray-700">Dirección</label>
            <input pInputText formControlName="direccion" class="w-full"/>
          </div>

          <!-- Fechas -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col">
              <label class="text-sm font-medium mb-1 text-gray-700">Fecha de inicio</label>
              <p-datepicker formControlName="fecha_inicio" dateFormat="dd/mm/yy" showIcon="true"
                            appendTo="body"></p-datepicker>
            </div>
            <div>
              <label class="text-sm font-medium mb-1 text-gray-700">Fecha fin (opcional)</label>
              <p-datepicker formControlName="fecha_fin" dateFormat="dd/mm/yy" showIcon="true"
                            appendTo="body"></p-datepicker>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="flex flex-col">
              <label class="text-sm font-medium mb-1 text-gray-700">Fecha adjudicada (opcional)</label>
              <p-datepicker formControlName="fecha_adjudicada" dateFormat="dd/mm/yy" showIcon="true"
                            appendTo="body"></p-datepicker>
            </div>
            <div class="flex flex-col">
              <label class="text-sm font-medium mb-1 text-gray-700">Fecha perdida (opcional)</label>
              <p-datepicker formControlName="fecha_perdida" dateFormat="dd/mm/yy" showIcon="true"
                            appendTo="body"></p-datepicker>
            </div>
          </div>

          <!-- Presupuesto -->
          <div class="flex flex-col">
            <label class="text-sm font-medium mb-1 text-gray-700">Presupuesto</label>
            <input pInputText type="number" formControlName="presupuesto"/>
          </div>

          <div class="flex gap-5">
            <!-- Comisión -->
            <div class="flex flex-col">
              <label class="text-sm font-medium mb-1 text-gray-700">Comisión</label>
              <div class="flex items-center gap-2">
                <p-checkbox binary="true" formControlName="tiene_comision" inputId="tieneComision"></p-checkbox>
                @if (form.get('tiene_comision')?.value) {
                  <input type="number" pInputText formControlName="comision" class="w-24 text-center" placeholder="%"/>
                  <span class="text-gray-500 text-xs">%</span>
                }
              </div>
            </div>
            <!-- Beneficio Global -->

            <div class="flex flex-col">
              <label class="text-sm font-medium mb-1 text-gray-700 flex items-center justify-between">
                <span>Beneficio Global</span>
              </label>

              <div class="flex items-center gap-2">
                <p-checkbox
                  binary="true"
                  formControlName="beneficio_global"
                  inputId="beneficioGlobal"
                  class="py-3"
                ></p-checkbox>

                <input
                  type="number"
                  pInputText
                  formControlName="beneficio"
                  class="w-18"
                  placeholder="%"
                />

                <span class="text-gray-500 text-xs">
                <strong class="text-xl">%</strong> aplicado a todos los costos
              </span>
              </div>
            </div>

          </div>
        </div>

        <div>
          <!-- Tabla de costos -->
          @if (form && costos.length > 0) {
            <app-obra-costos-table
              [costos]="costos"
              [modoEdicion]="true"
            >
            </app-obra-costos-table>
          } @else {
            <p class="text-gray-500 italic">Esta obra aún no tiene costos registrados.</p>
          }
        </div>


        <!-- Botón Guardar -->
        <div class="flex justify-end mt-6">
          <p-button label="Guardar cambios" icon="pi pi-save" type="submit" [disabled]="form.invalid"></p-button>
        </div>
      </form>
    }
  </div>
}
