<p-toast position="bottom-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

@switch (true) {
  @case (currentRoute === '/agendas') {
    <app-layout-header type="list" title="Agendas" subtitle="Gestión de tareas y agendas del proyecto">
      <p-button
        header-actions
        label="Nuevo Evento"
        icon="pi pi-plus"
        (onClick)="abrirModalCrearAgenda()"
        styleClass="p-button">
      </p-button>
    </app-layout-header>
  }
  @default {
    <div class="p-4">
      <h1 class="font-poppins text-3xl font-semibold text-gray-800 m-0">Agendas</h1>
    </div>
  }
}

<div class="p-5 bg-gray-50">
  <router-outlet></router-outlet>
</div>
