<div class="flex flex-col gap-3">
  <!-- Header -->
  <div class="flex w-full justify-between items-center">
    <div class="p-5">
      <h1 class="text-2xl font-semibold text-black">Gestión de tareas</h1>
      <p>Aquí podrás gestionar el progreso individual de cada proveedor</p>
    </div>
    <p-button
      icon="pi pi-plus"
      label="Nueva Tarea"
      styleClass="p-button-sm p-button-primary"
      (onClick)="abrirModal()">
    </p-button>
  </div>

  <!-- Lista de proveedores -->
  @for (proveedor of proveedores; track proveedor.id_proveedor) {
    <div class="rounded-lg p-5 bg-gray-50">
      <div class="flex justify-between items-center mb-2">
        <div>
          <h3 class="font-semibold text-xl text-gray-800">{{ proveedor.nombre }}</h3>
          <p class="text-sm text-gray-700">
            {{ getCompletadas(proveedor.id_proveedor) }} /
            {{ getTotales(proveedor.id_proveedor) }} tareas completadas
          </p>
        </div>
      </div>

      <p-progressBar [value]="getProgresoProveedor(proveedor.id_proveedor)"></p-progressBar>

      <div class="space-y-2 mt-3">
        @for (tarea of getTareasByProveedor(proveedor.id_proveedor); track tarea.id_tarea) {
          <div
            class="flex justify-between items-center border rounded-md p-2 cursor-pointer"
            [ngClass]="getEstadoClass(tarea)"
            (click)="toggleTarea(tarea)"
          >
            <!-- Ícono + texto -->
            <div class="flex items-center gap-2">
              <i class="pi text-lg"
                 [ngClass]="{
                   'pi-check-circle text-green-600': tarea.id_estado_tarea === 3,
                   'pi-circle text-gray-400': tarea.id_estado_tarea !== 3
                 }">
              </i>
              <span [class.line-through]="tarea.id_estado_tarea === 3">
                {{ tarea.nombre }}
              </span>
            </div>

            <!-- Botón eliminar -->
            <p-button icon="pi pi-trash"
                      styleClass="p-button-text p-button-sm text-red-500"
                      (onClick)="eliminarTarea(tarea.id_tarea); $event.stopPropagation()">
            </p-button>
          </div>
        }
      </div>
    </div>
  }

  <!-- Modal Nueva Tarea -->
  <app-modal
    [visible]="showAddTaskModal"
    title="Nueva Tarea"
    (closed)="cerrarModal()"
    (confirmed)="guardarTarea()"
  >
    <div class="p-3 space-y-3">
      <label class="block text-sm font-medium">Nombre de la tarea</label>
      <input type="text" pInputText [(ngModel)]="nuevaTarea.nombre" class="w-full" />

      <label class="block text-sm font-medium">Proveedor</label>
      <p-dropdown
        [options]="proveedores"
        [(ngModel)]="nuevaTarea.id_proveedor"
        optionLabel="nombre"
        optionValue="id_proveedor"
        placeholder="Seleccionar proveedor"
        appendTo="body"
        class="w-full">
      </p-dropdown>
    </div>
  </app-modal>
</div>
