<form appPreventInvalidSubmit (ngSubmit)="onSubmit()" [formGroup]="form" class="space-y-5 flex flex-col gap-5">
  <div class="flex flex-col flex-wrap gap-5">
    <div class="flex gap-5">
      <div class="min-h-[72px] w-full">
        <label class="block text-sm font-medium mb-1">Nombre</label>
        <input class="w-full" formControlName="nombre" pInputText/>
      </div>
      <div class="min-h-[72px] w-full">
        <label class="block text-sm font-medium mb-1">Contacto</label>
        <input class="w-full" formControlName="contacto" pInputText/>
      </div>
    </div>

    <div class="flex gap-5">
      <div class="min-h-[72px] w-full">
        <label class="block text-sm font-medium mb-1">Tipo</label>
        <p-select
          [options]="tipos"
          appendTo="body"
          class="w-full"
          formControlName="tipo_proveedor"
          optionLabel="label"
          optionValue="name"
          placeholder="Selecciona un tipo">
        </p-select>
      </div>

      <div class="min-h-[72px] w-full">
        <label class="block text-sm font-medium mb-1">Teléfono</label>
        <input class="w-full" formControlName="telefono" pInputText/>
      </div>

    </div>

    <div>
      <label class="block text-sm font-medium mb-1">Email</label>
      <input class="w-full" formControlName="email" pInputText/>
    </div>
  </div>

  <p-button [disabled]="form.invalid" icon="pi pi-check" label="Guardar" type="submit"></p-button>
</form>

