<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-5">
  <div>
    <label class="block text-sm font-medium mb-1">Nombre</label>
    <input pInputText formControlName="nombre" class="w-full" />
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Tipo</label>
    <p-select
      [options]="tipos"
      formControlName="tipo_proveedor"
      optionLabel="nombre"
      placeholder="Selecciona un tipo"
      appendTo="body">
    </p-select>
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Contacto</label>
    <input pInputText formControlName="contacto" class="w-full" />
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Teléfono</label>
    <input pInputText formControlName="telefono" class="w-full" />
  </div>

  <div>
    <label class="block text-sm font-medium mb-1">Email</label>
    <input pInputText formControlName="email" class="w-full" />
  </div>

  <p-button type="submit" label="Guardar" icon="pi pi-check" [disabled]="form.invalid"></p-button>
</form>
